<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Secured Website</title>
    <link rel="stylesheet" type="text/css" data-th-href="@{/resources/static/css/bootstrap/css/bootstrap-reboot.min.css">
</head>
<body>
    <div class="container">
        <h2>Please login to Secure Website</h2>
    </div>
    <div>
        <p data-th-if="${param.error}}">Wrong user or password</p>
<!--        <p data-th-if="${logoutMessage}">You've been logged out</p>-->
    </div>
    <div class="container">
        <form data-th-action="@{login}" method="POST">
            <div>Username:
                <input type="text" name="username" />
            </div>
            <div>Password:
                <input type="password" name="password" />
            </div>
            <div>
                <button type="submit" value="Login">Login</button>
            </div>
        </form>
    </div>


    <div class="container">
        <p>*password store in database and encrypted</p>
    </div>



</body>
</html>