<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Secured | Sign in page</title>
</head>
<body>

<div>
    <div>
        <p data-th-if="${param.logout != null}">You've been logged out</p>
    </div>
    <div>
        <h2>Please enter your access data to Secure Website</h2>
    </div>
    <div>
        <form data-th-action="@{/signIn}" method="POST">

            <input type="text" id="email" name="email" data-th-placeholder="Email"/> <br/>
            <input type="password" data-th-placeholder="Password" id="password" name="password"/> <br/>

            <div data-th-if="${param.error}">
                <p>Email or Password are invalid, please verify and try again</p>
            </div>
            <button name="Submit" value="Login" type="Submit"
                    data-th-text="Login"></button>
            <div>
                <input type="checkbox" name="remember-me" />
                <label class="inline">Remember me for 90 days</label>
            </div>

        </form>
    </div>
    <div>
        <h2>Or Sign Up</h2>
    </div>
    <div>
        <form data-th-action="@{/signUp}" method="GET">
            <button type="submit">Sign Up</button>
        </form>
    </div>



</div>
</body>
</html>